**/site/
**/site-linux-64/
.vs/
.vscode/
**/bin/
**/obj/
**/idea/
**/reports/
**/coverage/
**/packages
**/TestResults
**/node_modules
.idea
.scannerwork
.sonarqube
.DS_Store
logs/

src/Aggregato\.DataSync/deploy/

results/

src/Aggregato\.API/startupLogs/
Aggregato.sln.DotSettings.user

src/Aggregato.API/site-linux-x64/

src/Aggregato.DataSync/site-linux-x64/
